

/*antes estaba enlazado con 4 */ 

.titulo{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 135px;
  height: 40px;
  
}
.titulo1{
  margin-top: 5px;
  color:black;
  font-size: 30px;
}

.cajaprincipal{
  display: flex;
  padding:10px;
  border-color:white;
  height: 480px;
}
.cajapasatimepos{
  border-style: solid;
  border-image-source: linear-gradient(#43ebc6,#7F3BEB, #43ebc6);
  border-image-slice: 20;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  background-color:  white;
  height: 470px;
}

.cajapasatimepos2{
  border-style: solid;
  border-image-source: linear-gradient(#43ebc6,#7F3BEB, #43ebc6);
  border-image-slice: 20;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color:  white;
  height: 470px;
}
.primarios{
  margin-top: 10px;
  text-align: center;
  color: black;
}
.textopasatiempos{
  color: black;
  margin-left: 20px;
  margin-top:30px;
}

::-webkit-scrollbar{
  width: 0px;
  height:60px;
  background-color:black ;
}
::-webkit-scrollbar-track-piece{
  height: 10px;
  background-color:white;

}
::-webkit-scrollbar:hover{
  background-color: white;
}
